{% load lists_extra %}

<h2>{{myList.name}}</h2>
<br>
{% for l in items|get_item %}

<ul class="list-group">
  <li class="list-group-item">
    <div class="row">

      <div class="col-md-8">{{l.name}}</div>
      <div class="col-md-3" align="right">Niveau: {{l.level}}</div>

      <!-- <div class="col-md-1" align="right">
        { remove_button user l %}
        </div> -->
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <br> IMAGE<br>
              {{l.type}}
            </div>
          </div>
        </div>
        <div class="col-md-8">
          {% if l|get_recipe %}
          {% for r in l|get_recipe %}
          <form role = "form" class="form">
                <input type = "number" class = "input-mini" min="0" max ={{r.count}}>
              </form>/ {{r.count}} {{r.ing_ID.name}}<br>
          {% endfor %}
          {% else%}
          <p>Recette indisponible</p>
          {% endif %}

        </div>
      </li>

    </ul>
          {% endfor %}
