<nav class="navbar navbar-inverse" data-spy="affix">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'lists:index' %}">To-Dofus</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a data-toggle="myModal" href="{% url 'lists:newlist' %}"><span class="glyphicon glyphicon-plus" title="Nouvelle liste"></span></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

      {% if user.is_authenticated %}
        <li><a><span class="glyphicon glyphicon-user"></span>  {{ user.username }} </a></li>
        <li><a href="{% url 'lists:logout' %}"><span class="glyphicon glyphicon-log-out"></span>  Logout</a></li>
      {% else %}
        <li><a href="{% url 'lists:login' %}"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
      {% endif %}
      <li><a href="{% url 'lists:register' %}"><span class="glyphicon glyphicon-edit"></span>  Sign Up</a></li>
    </ul>
</nav>
