{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'lists/style.css' %}" />
  </head>
  <body>

    {% include "navbar.html" %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          {% include "includes/side_menu.html" %}
        </div>
        <div class="col-xs-6 col-md-9">
          {% if latest_lists_list %}
          <ul>

            {% for item in list_items %}
            <li><a href="{% url 'lists:detail' list.id %}">{{ list.name }}</a></li>
            {% endfor %}
          </ul>
          {% else %}
          <p>Aucune ressource à afficher.</p>
          {% endif %}
        </div>
    </div>
  </div>

  </body>

</html>
